//npm install typescript --save-dev 
// npm install ts-loader --save-dev 或npm i awesome-typescript-loader --save-dev
const path = require('path');
//ts打包
var tspackConfig={
    entry: {
        testTs: './src/testTs.ts',
    },
    output: {
        filename: '[name].js',
        path: path.resolve(__dirname, 'dist')
    },
    module: {
        rules: [
            {
                test: /\.(ts|tsx)?$/,
                use: {
                    loader: 'ts-loader'
                }
            }
        ]
    }
}
module.exports=[tspackConfig]
