//npm install typescript --save-dev 
// npm install ts-loader --save-dev 或npm i awesome-typescript-loader --save-dev

//ts打包
var tspackConfig={
    entry: {
        testTs: './src/testTs.ts',
    },
    output: {
        filename: '[name].js',
        path: path.resolve(__dirname, 'dist')
    },
    module: {
        rules: [
            {
                test: /\.js$/,
                exclude: /(node_modules)/,
                use: {
                   loader: "babel-loader"
                }
            }
        ]
    }
}
module.exports=[tspackConfig]
